/* Footer */
.footer {
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 80px;

}

/* footer contain */
.footer-contect {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
    margin-top: -40px;
}

/* footer hungerhub logo */
.footer-logo {
    width: 190px;
    margin-top: -80px;
    margin-bottom: -80px;
}

/* footer all conatin css */
.footer-contect-left,
.footer-contect-right,
.footer-contect-center {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer-contect-left li,
.footer-contect-right li,
.footer-contect-center li {
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-contect-right h2,
.footer-contect-center h2 {
    color: white;
}

.footer-social-icons {
    display: flex;
    gap: 15px;
    width: 40px;
    margin-right: 15px;
}

.footer hr {
    width: 100%;
    height: 2px;
    margin: 20px 0px;
    background-color: gray;
    border: none;
}